export HADOOP_HOME={{hadoop_base.dir}}
export HADOOP_CONF_DIR={{hadoop_base.config_path}}
export HADOOP_MAPRED_HOME={{hadoop_base.dir}}
export HADOOP_COMMON_HOME={{hadoop_base.dir}}
export HADOOP_HDFS_HOME={{hadoop_base.dir}}
export PATH=$HADOOP_HOME/sbin:$HADOOP_HOME/bin:$PATH
export HADOOP_LOG_DIR={{hadoop_base.log_path}}
export YARN_LOG_DIR=$HADOOP_LOG_DIR
export JAVA_HOME=$JAVA_HOME
