[Unit]
Description=Apache Hadoop
Documentation=http://hadoop.apache.org/documentation.html
Requires=network.target
After=network.target

[Service]
Type=forking
SuccessExitStatus=143
ExecStart=/bin/bash -c "source /etc/profile && mkdir -p {{hadoop_base.log_path}} && {{hadoop_base.dir}}/sbin/hadoop-daemon.sh start namenode"
ExecStop=/bin/bash -c "source /etc/profile && mkdir -p {{hadoop_base.log_path}} && {{hadoop_base.dir}}/sbin/hadoop-daemon.sh stop namenode"
User=root
Group=root

[Install]
WantedBy=multi-user.target
