[Unit]
Description=Kafka Connect
Documentation=https://docs.confluent.io/current/connect/index.html
Requires=network.target
After=network.target


[Service]
Type=simple
SuccessExitStatus=143
ExecStart=/bin/bash -c "mkdir -p /var/log/kafka-connect && {{ kafka.dir }}/bin/connect-distributed.sh {{ kafka.dir }}/config/connect-distributed.properties  >> /var/log/kafka-connect/log.log 2>&1"
ExecStop=/bin/bash -c "kill -9 $(ps -ef | grep connect-distributed |  grep -v grep | awk '{print $2}')"
User=root
Group=root

[Install]
WantedBy=multi-user.target
