[Unit]
Description=Apache Kafka
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target
After=network.target

[Service]
Type=simple
SuccessExitStatus=143
ExecStart=/bin/bash -c "mkdir -p /var/log/kafka && {{ kafka.dir }}/bin/kafka-server-start.sh {{ kafka.dir }}/config/server.properties  >> /var/log/kafka/log.log 2>&1"
ExecStop="{{ kafka.dir }}/bin/kafka-server-stop.sh"
User=root
Group=root

[Install]
WantedBy=multi-user.target
