[Unit]
Description=Apache Zookeeper
Documentation=http://zookeeper.apache.org/documentation.html
Requires=network.target
After=network.target


[Service]
Type=simple
SuccessExitStatus=143
ExecStart=/bin/bash -c "mkdir -p /var/log/zookeeper &&  {{ kafka.dir }}/bin/zookeeper-server-start.sh {{ kafka.dir }}/config/zookeeper.properties >> /var/log/zookeeper/log.log 2>&1"
ExecStop={{ kafka.dir }}/bin/zookeeper-server-stop.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
